<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <div>{{request.user.username }}</div>
    <form action="/user/logout/" method="'post">
      {% csrf_token %}
      <button>로그아웃하기</button>
    </form>
    {% else %}
    <div>
      <a href="/user/login/">로그인</a>
      <a href="/user/signup/">회원가입</a>
    </div>
    <a href="/todo/create/">
      <button>새로 만들기</button>
    </a>
    <ul>
      {% for todo in todo %}
      <a href="/todo/{{todo.id}}">
        <li>
          <div>{{todo.content}}</div>
        </li>
      </a>
      {% endfor %}
    </ul>
  </body>
</html>
