{% extends 'base.html' %} {% block content %}
<div>
  <h1>{{todo.content}}</h1>
  <img src="/media/{{ todo.image }}" alt="" />
  <p>{{todo.created_at}}</p>
  <p>{{todo.updated_at}}</p>
  <p>{{todo.user.username}}</p>

  {% if request.user == todo.user %}
  <div>
    <form action="/todo/delete/{{todo.id}}/" method="post">
      {% csrf_token %}
      <button>삭제하기</button>
    </form>
    <a href="/todo/delete/{{todo.id}}/">
      <button>수정하기</button>
    </a>
    <a href="/todo/">
      <button>뒤돌아가기</button>
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
